body {
  background-color: #dcdcdc;
  text-align: center;
  max-width: 1000px;
  max-height: 840px;
  margin: 0 auto;
}

div h1{
  display: flex;
  justify-content: center;
}

header ul {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.img-container {
  margin: 0 20px 0 20px;
  /* border: 1px solid black; */
}

.img-main {
  border-radius: 20px;
  border: 3px solid white;
}

.article-container {
  text-align: justify;
}

footer {
  display: flex;
  justify-content: center;
  height: 100px;
}

footer img {
  margin: 30px;
  width: 50px;

  /* margin: 30px 30px 0 30px; */

}

footer .img-footer:hover {
  transform: scale(1.5);
}

.project-dropdown {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#menu-projetos {
  background-color: black;
  color: white;
}