body {
  background-color: #dcdcdc;
  text-align: center;
  max-width: 1100px;
  max-height: 840px;
  margin: 0 auto;
}

div h1{
  display: flex;
  justify-content: center;
}

header ul {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.main-container{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
}

.img-container {
  /* display: flex;
  justify-content: center; */
  margin: 0 20px 0 20px;
  height: auto;
  width: auto;
}

.img-main {
  align-self: center;
  border-radius: 20px;
  border: 3px solid white;
  max-width: 300px;
}

.article-container {
  text-align: justify;
  margin-right: 20px;
  max-width: 700px;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100px;
}

footer img {
  margin: 30px;
  width: 50px;
}

footer .img-footer:hover {
  transform: scale(1.5);
}

.project-dropdown {
  display: flex;
  font-size: 30px;
  margin-top: 50px;
  justify-content: center;
}

#menu-projetos {
  background-color: darkgray;
  color: white;
  font-size: 30px;
}

.btn-voltar {
  margin-top: 40px;
}

.teste {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
