body {            
  background-color: black;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 90%;
  margin: 10% 20%;
}

/*Menu suspenso*/

.menu {
  background-color: black;
  list-style: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.menu ul li {
  display: inline;
}

.menu ul li a{
  border-radius: 10px;
  display: inline-block;
  padding: 15px;

  /*visual do link*/
  border-bottom: 5px solid #edf0f5;
  background-color: rgb(46, 45, 45);
  color: #edf0f5;
  text-decoration: none;
}

.menu ul li a:hover {
  border-bottom: 3px solid #081352a2;
  background-color: rgb(20, 20, 20);
  color: #6d6d6d;
}
/* fim do menu*/

header h1 {
  margin-left: 120px;
}


.main-left {      
  display: inline-block;
  float: left;
  padding: 20px 50px;
  width: 50%;
}


.main-rigth {
  display: inline-block;
  float: right;
  padding: 0 px 50px;
  max-width: 50%;
}

p.main-rigth {
  margin-top: 50px;
  font-size: 100px;
}
.main-right p {
  text-align: justify;
}

.main img {
  width: 30%;
  border-radius: 100%;
  margin: 20px 70px;
}


.button {
  border-radius: 4px;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700px;
}

.button a {
  border-radius: 10px;
  display: inline-block;
  padding: 15px;

  border-bottom: 5px solid #edf0f5;
  background-color: rgb(46, 45, 45);
  color: #edf0f5;
  text-decoration: none;
}

.button a:hover {
  border-bottom: 3px solid #081352a2;
  background-color: #d6d6d6;
  color: #6d6d6d;
}

.network {
  background-color: rgb(58 52 52);
  border-radius: 15px;
}

.network h3 {
  text-align: center;
}

.link-rede {
  margin-left: 15%;
  display: inline-block;
}
